body {
    background-color: beige;
}

h1{
    font-family: cursive;
    font-size: 50px;
    margin:auto;
    text-align: center;
    padding: 10px;
}

p{
    text-align: center;
    font-family: cursive;
    font-size: 25px;
}

table {
    width: 50%;
    margin:auto
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

tr {
    
}

button{
    padding: 25px 45px 25px 45px;
    border-radius: 50px;
    background-color: chocolate;
    cursor: pointer;
}

button:hover{
    background-color: orange;
}

.plcNum {
    width: 10%;
    padding: 10px;
}

#leadrTable{
    width: 50%;
    padding: 5%;
}

#homeBtn{
    text-align: center;
    padding: 15px;
    margin-bottom: 5%;
}